<!DOCTYPE html>
<html>
<head>
  <title>CityBeautiful</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

  
<body>
  <div id="page-container">
    <div id="content-wrap">
      <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "links") {
          x.className += " responsive";
        } else {
          x.className = "links";
        }
      }
      </script>

    <%#Navbar %>
      <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
          <%= link_to 'City Beautiful', root_url, class: 'navbar-brand' %>             

          <ul class="navlinks" id="myTopnav">

          <li class="links">
            <%= link_to "Events", "/events" %>
          </li>
          <li class="links">
          <%= link_to "Dining", "/dining" %>
          </li>
          <li class="links">
          <%= link_to "Day Trips", "/day_trips" %>
          </li>
          <li class="links">
          <%= link_to "Local Favorites", "/local_favorites" %>
          </li>
          <li class="links">
          <%= link_to "Contact", "/contact" %>
          </li> 
          </ul>
        </nav>
      </header>      
  </body>
</html>
          <%= yield %>
    </div>
  </div> 
</body>
</html>


